<div class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.firstName}}!</h1>
    <p>Please try to input the magic number.</p>
    <p>you can try only 3 times, after that you will be send to login again</p>
    <form name="form" (ngSubmit)="f.form.valid && addMagicNumber()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !magicNumber }">
            <label for="magicNumber">please input magic number</label>
            <input type="number" class="form-control" min=0 max=250 name="magicNumber" [(ngModel)]="model.magicNumber" #magicNumber="ngModel" required />
            <div *ngIf="f.submitted && !magicNumber.valid" class="help-block">Magic number is required</div>
            <div *ngIf="success" class="help-block">You successfully found magic numer 123</div>
        </div>
        <div>
            <a (click)="addMagicNumber(model.magicNumber)">add magic number</a>
        </div>
    </form>
    <h3>you entered:</h3>
    <ul>
        <li *ngFor="let magicNum of magicNumbers">
            User Name : {{magicNum && magicNum.userame ? magicNum.userame :''}} <br>
            Magic number entered is :- {{magicNum && magicNum.magicnumber ? magicNum.magicnumber :''}}
            
        </li>
    </ul>
    <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user.id)">Delete</a>
        </li>
    </ul>
    <p><a [routerLink]="['/login']" (click)="deleteAllDocs()">Logout</a></p>
</div>